/* Google Font : Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Palette */

	/* Background */
	--bgbase: #0d1026;
	--bgsecondary: #151938;

	/* Accent */
	--sand: #fffae8;

	/* Padding X sm & md */
	--sectionpxsm: 30px;
}

* {
	font-family: Outfit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
