/* Google Font : Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Palette */

	/* Background */
	--bgbase: #0d1026;
	--bgsecondary: #1a1d31;

	/* Accent */
	--primary: #f9d849;
	--sand: #fffae8;
	--black: #272727;

	/* Padding X sm & md */
	--sectionpxsm: 26px;
}

* {
	font-family: Outfit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

.marquee {
	animation: marquee 30s linear infinite;
}
